.App {
  text-align: center;
}

h1{
 color: white; 
}

footer{
  height: 77px;
  text-align: center;
}

header{
  
}

button{
  border: 2px solid black;
  width: 150px;
  transition: 1s;
}

button:hover{
  background-color: red;
}